<h1>You came here for one thing and one thing only....pink sweats!</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Cuteness</th>
      <th scope="col">Softness</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      <%= render @kittens %>
  </tbody>
</table>
